<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
    <meta name="format-detection" content="telephone=no" >
    <title></title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">
      <div class="loader">
        <div class="loader_graph"></div>
        <div class="loader_progress">3%</div>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- 第一页 -->
          <div class="swiper-slide" id="page1">
            <div class="swiper-page">
              <img src="images/sample_img1.jpg" alt="" title="" class="sample_img1" id="sample_img1">
              <img src="images/sample_img2.jpg" alt="" title="" class="sample_img2" id="sample_img2">
            </div>
          </div>

          <!-- 第二页 -->
          <div class="swiper-slide" id="page2">
            <div class="swiper-page">
              <img src="images/sample_img3.jpg" alt="" title="" class="sample_img3" id="sample_img3">
              <img src="images/sample_img4.jpg" alt="" title="" class="sample_img4" id="sample_img4">
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
  </body>
</html>
